include ../includes/head.jade
  body
  div.button-group
    a.button(href='/chapbook') Save This Bio
    a.button(href='/findPoems/#{lastName}/#{searchName}') Read A Poem
    a.button(href='/') Go Back
  each  val in bio
    div.row
      div(class='small-8 medium-6 large-5 small-centered columns')
        div(class='header panel')
          p
            span= val
