include ../includes/head.jade
  body
    div.title-bar
      div.title-bar-left
        button.menu-icon(type='button')
        span.title-bar-title Lives of the Poets
      div.title-bar-right
        button.menu-icon(type='button')
    div.row.data-equalizer.data-equalize-on.collapse
      div(class='small-4 columns')
        a(href="/home"): img(src='/img/johnson.png' alt='Our Author' class='thumbnail')
      div(class='small-2 columns')
        a(href="/milton"): img(src='/img/milton.jpg' alt='John Milton' class='thumbnail')
      div(class='small-2 columns')
        a(href="/addison"): img(src='/img/addison.jpg' alt='Joseph Addison' class='thumbnail')
      div(class='small-2 columns')
        a(href="/swift"): img(src='/img/swift.jpg' alt='Jonathan Swift' class='thumbnail')
      div(class='small-2 columns')
        a(href="/dryden"): img(src='/img/dryden.jpg' alt='John Dryden' class='thumbnail')



